<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nyorf.dexter-uvicorn</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/hello-dexter/.venv/bin/uvicorn</string>
        <string>main:app</string>
        <string>--host</string>
        <string>127.0.0.1</string>
        <string>--port</string>
        <string>7999</string>
        <string>--reload</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
	<key>WorkingDirectory</key>
	<string>/opt/hello-dexter</string>
	<key>StandardOutPath</key>
	<string>/Users/nyorf/Library/Logs/com.nyorf.dexter-uvicorn.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/nyorf/Library/Logs/com.nyorf.dexter-uvicorn.stderr.log</string>
</dict>
</plist>
